# #DATABASE
DB_CLIENT=mysql2
DB_HOST=localhost
DB_PORT=3306
DB_USER='samir'
DB_PASSWORD='password'
DB_NAME='studio_food'

APP_NAME='Studio Food API'
APP_VERSION='1.0.0'
APP_PORT='5555'
APP_BASE_URL=/api


# INFRA DATABASE
# DB_CLIENT=mysql2
# DB_HOST=10.1.1.173
# DB_PORT=3306
# DB_NAME=leavedb
# DB_USER=root
# DB_PASSWORD=root_password

JWT_EXPIRESIN=1d


#COOKIE
COOKIE_DURATION=86400
COOKIE_DOMAIN=localhost