.container {
  max-width: 600px;
  margin: auto;
}

.scanner-container {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  border: 1px solid #e2e8f0;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

@keyframes scan-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.animate-scan-line {
  animation: scan-line 1.5s infinite ease-in-out;
  top: 0;
}
